body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 8px 10%;
}
ul.links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 18px;
}

section.hero{
    display: flex;
    padding: 10% 10%;
    background-color: #1f2937;
}

.content {
    width: 50%;
}

.hero-image {
    height: 200px;
    width: 50%;
}

.content>h2{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0 0 16px 0;
}

.content>p{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 0 16px 0;
}

.content>button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 4px 24px;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}

.information>h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.row{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.card {
    width: 180px;
    height: 220px;

}

.card>img{
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}